---
tag: "noona.is"
---
[HQ API](https://docs.noona.is/docs/hq) [User](https://docs.noona.is/docs/hq/user)

Marks the user's email as verified if the token supplied is correct

```
curl -X POST "https://api.noona.is/v1/hq/user/email-verification/confirm" \

  -H "Content-Type: application/json" \

  -d '{

    "token": "string"

  }'
```

Empty

Empty

Empty

Empty[User](https://docs.noona.is/docs/hq/user)

[

Previous Page

](https://docs.noona.is/docs/hq/user)[

Get user GET

Next Page

](https://docs.noona.is/docs/hq/user/GetUser)