---
tag: "noona.is"
---
[HQ API](https://docs.noona.is/docs/hq) [User](https://docs.noona.is/docs/hq/user)

Sends an email to the user for verifying the email

POST `/v1/hq/user/email-verification`

Authorization Bearer <token>

The Noona HQ API uses Bearer token for authentication.

Endpoints that return generic information that does not contain sensitive data do not require authentication. Endpoints that require authentication are specifically marked in the documentation.

**Authorization: Bearer your-token**

In: `header`

## Response Body

```
curl -X POST "https://api.noona.is/v1/hq/user/email-verification"
```

Empty

Empty

Empty

Empty

Empty

Empty[Get user GET](https://docs.noona.is/docs/hq/user/GetUser)

[

Previous Page

](https://docs.noona.is/docs/hq/user/GetUser)[

Update current user POST

Next Page

](https://docs.noona.is/docs/hq/user/UpdateCurrentUser)